/* Supplierlist.html Stylesheet */

.recordsaddrecordheading h1 {
  white-space: nowrap;
  margin: 0;
}

main table {
  margin: 0 !important;
  width: calc(100% - 1rem);
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

main .table-container th.col-supplier-id,
main .table-container td.col-supplier-id {
  width: 10rem;
}

main .table-container th.col-name,
main .table-container td.col-name {
  width: 18rem;
}

main .table-container th.col-city,
main .table-container td.col-city {
  width: 7rem;
}

main .table-container th.col-expiry-date,
main .table-container td.col-expiry-date {
  width: 6rem;
}

@media print {
  #header,
  footer,
  .addrecordheadingbutton {
    display: none !important;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .recordsaddrecordheading {
    padding: 0 0 8px 0 !important;
    margin: 0 !important;
  }

  main {
    height: auto !important;
    overflow: visible !important;
    overflow-y: visible !important;
  }

  main .table-container th,
  main .table-container td {
    font-size: 1.1rem;
  }
}
