<!-- Mobile menu toggle button -->
<button class="nav-toggle" id="nav-toggle" aria-label="Toggle navigation">
  ☰ Menu
</button>

<nav id="main-nav">
  <div class="nav-content">
    <div class="logo">
      <img src="../images/ci-logo.png" alt="CI logo" title="" />
    </div>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li>
        <a href="/inputs.html">Inputs</a>
        <ul id="inputs-submenu" class="submenu">
          <li><a href="/todo.html" id="todo">To Do</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/recur.html">Recurrence</a></li>
          <li><a href="/inputcopy.html">Copy</a></li>
          <li><a href="/mgmt.html">MgmtRev</a></li>
          <li><a href="/inputhelp.html" id="inputhelp">Help</a></li>
        </ul>
      </li>
      <li>
        <a href="/control.html">Control</a>
        <ul id="control-submenu" class="submenu">
          <li>
            <a href="/ncms.html">NCMs</a>
            <ul class="submenu">
              <li><a href="/ncmhelp.html">Help</a></li>
            </ul>
          </li>
          <li>
            <a href="/correctives.html">Corrective</a>
            <ul class="submenu"></ul>
          </li>
          <li>
            <a href="/collects.html">Collect</a>
            <ul class="submenu">
              <li><a href="/inspplans.html">Inspection Plans</a></li>
            </ul>
          </li>
          <li>
            <a href="/expirys.html">Expiry</a>
            <ul class="submenu"></ul>
          </li>
          <li>
            <a href="/schedule.html">Audit Schedule</a>
            <ul class="submenu"></ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="/documents.html">Sysdoc</a>
        <ul id="documents-submenu" class="submenu">
          <!-- <li><a href="/docentry.html">Add</a></li> -->
          <li><a href="/dcrs.html">DCRs</a></li>
          <!-- <li><a href="/docrequest.html">Request</a></li> -->
        </ul>
      </li>
      <li>
        <a href="/suppliers.html">Suppliers</a>
        <ul id="suppliers-submenu" class="submenu">
          <!-- <li><a href="/supplierentry.html">Add</a></li> -->
          <li><a href="/supplierlist.html">ASL</a></li>
          <!-- <li><a href="/supplierqms.html">Supplier QMS</a></li> -->
        </ul>
      </li>
      <!-- <li>
        <a href="/customers.html">Customers</a>
        <ul id="aisubmenu" class="submenu">
          <li><a href="../supplierentry.html">Add</a></li>
          <li><a href="../supplierlist.html">ASL</a></li>
        </ul>
      </li> -->
      <li>
        <a href="/ctaattend.html">CTA</a>
        <ul id="ctasubmenu" class="submenu">
          <li><a href="/ctajobskills.html">Job Skills</a></li>
          <li><a href="/ctapersonskills.html">Person Skills</a></li>
        </ul>
      </li>
      <li>
        <a href="/devices.html">Devices</a>
        <ul id="devices-submenu" class="submenu">
          <li><a href="/calibrations.html">Calibrations</a></li>
          <li><a href="/calpo.html">PO Help</a></li>
          <li><a href="/equipments.html">Equipment</a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="#">Admin</a>
        <ul id="admin-submenu" class="submenu">
          <li><a href="/opcodemaint.html">OP Codes</a></li>
          <li><a href="/prd-char-type.html">Product Char Types</a></li>
          <li><a href="/ncm-type-maint.html">NCM Types</a></li>
        </ul>
      </li> -->
      <li><a href="/products.html">Products</a></li>
      <!-- <li><a href="/reports.html" id="reports">Reports</a></li> -->
      <li>
        <a href="/reports.html">Reports</a>
        <ul id="admin-submenu" class="submenu">
          <li><a href="/reports-chem.html">Chem Reports</a></li>
        </ul>
      </li>
      <li><a href="/login.html" id="login">Login</a></li>
    </ul>
  </div>
</nav>
